<<<<<<< HEAD
=======
/** base css starts **/
html, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
}

ol, ul {
  
}


blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

:focus {
  outline: 0
}
ins {
  text-decoration: none
}

del {
  text-decoration: line-through
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table td {
  padding: 10px 0;
}

@font-face
{
  font-family: OpenSans;
  src: url("../Fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face
{
  font-family: OpenSansSB;
  src: url("../Fonts/OpenSans-Semibold.ttf") format("truetype");
}

body {
  font-family: "OpenSans";
  font-size: 13px;
  line-height: 20px;
  color: #424242;
  background: #fff;
}
a {
  text-decoration: none;
  outline: 0;
  color: #424242
}

a:focus {
  outline: 1px dotted invert
}

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0
}

h1 {
  font-size: 25px
}

h2 {
  font-size: 23px
}

h3 {
  font-size: 21px
}

h4 {
  font-size: 19px
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px
}

ol {
  list-style: decimal
}
ul {
  
  margin: 0;
  padding: 0;
    font-size:12px;
}


.fl{
	float:left
}

.fr{
	float:right
}

.borderBottom {
  border-bottom: 1px dashed #646464;

}

.borderBottomSolid {
  border-bottom: 1px solid #ccc;

}

.borderTopBottom {
  border-top: 1px dashed #646464;
  border-bottom: 1px dashed #646464;

}

.zeropadding {
  padding: 0 !important;
}

.liNoStyle {
  color: #424242;
  list-style: none !important;
  margin: 0px !important;
  padding: 5px 50px;
  border-bottom: 1px dashed #ccc;
  cursor: pointer;
}

.liNoStyle:hover {
  background: #969696;
  color: #fff;
  border-bottom: 1px dashed #969696;
}

.clearContainers {
  position: relative;
  clear: both;
}
.displayInline {
  display: inline-block;
}
 .leftContainer{
   float:left;
 }
#wrapper {
  font-family: "OpenSans";
  color: #424242;
}

.font-caps {
  font-family: "OpenSansSB" !important;
  text-transform: uppercase;
}

#header {
  margin-top: 20px;
}
.logo-block {
  float: left;
  width: auto;
  margin-bottom: 20px;
}
.logoSubblock {
  width: 70px;
  float: left;
}

.section1 {
  font-size: 10px;
}

.section2 {
  font-size: 14px;
  line-height: 14px;
}

.section3 {
  font-size: 12px;
}

.leftBlock {
  position: relative;
  float: left;
  height: auto;
}

.mainContent {
  position: relative;
  float: left;
  height: auto;
}

.product {
  width: 210px;
  height: auto;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.productCategoryText {
  position: relative;
  float: left;
  width: 210px;
  text-align: center;
}

.productCategoryText2 {
  position: relative;
  float: left;
  font-size: 20px;
  text-align: center;
  color: #1396d6;
}

.dottedLine {
  position: relative;
  float: left;
  border-bottom: 1px dotted;
  top: 8px;
  width: 245px;
}

.buttonControl {
  border: 1px solid #597fba;
  background: #008ED3;
  width: 150px;
  height: 40px;
  padding: 5px;
  color: #fff;
  display: block;
  font-family: OpenSansSB;
  font-size: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 20px 0;
  text-transform: uppercase;
}

.buttonControl:hover {
  border: 1px solid #008ED3;
  background: #597fba;
}

.secondaryButton {
  background: #dcdcdc;
  padding: 0;
  height: 30px;
  margin: 0;
  border: none;
  width: 190px;
  text-transform: uppercase;
  font-family: OpenSansSB;
  border-right: 1px solid #c8c8c8;

}

.secondaryButton:hover {

  background: #c8c8c8;
  border-right: 1px solid #dcdcdc;
}

.hkpolicy {
  font-size: 12px;
  float: right;
  margin-top: 35px;
  margin-left: 15px;
}
.topToDown {
  position: relative;
  float: left;
  right: 2%;
  text-transform: uppercase;
}
.dropDownButton {
  z-index: 1000;
  position: relative;
  background: #5c9dff;
  float: left;
  height: 35px;
  width: 175px;
  border: 1px solid #c3c3cf;
  left: 0;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.dropDownButton-hover {
  background: white;
  color: rgb(49, 118, 241);
  border: 1px solid rgb(211, 211, 211);
  border-bottom: none;
  cursor: pointer;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.arrowDown {
  position: relative;
  float: left;
  width: 8px;
  top: 9px;
  left: 45px;
}

.dropDownButtonText {
  position: relative;
  float: left;
  font-size: 11px;
  top: 6px;
  left: 18px;
}

.dropDownboxHomePage {
  display: none;
  position: absolute;
  z-index: 1;
  float: left;
  clear: both;
  border: 1px solid rgb(211, 211, 211);
  box-shadow: 0px 8px 10px -3px #888;
  top: 36px;
  width: 175px;
  height: auto;
  background: white;
}
.dropDownitemHomePage {
  position: relative;
  top: 10px;
  float: left;
  padding-bottom: 20px;
  clear: both;
  width: 85%;
  margin-left: 10px;
}

.nav-menu {
  float: right;
  min-width: 360px;
  margin-top: 20px;
  height: 36px;
}
.nav-menu div {
  float: left;
  width: 80px;
  margin-left: 10px;
}

.nav-menu p {
  margin: 0;
}

.section1 {
  font-size: 10px;
}

.section2 {
  font-size: 13px;
  line-height: 14px;
}


/*search menu css begins*/

.searchText {
  position: relative;
  z-index: 1000;
  float: left;
  width: 280px;
  height: 12px !important;
  border: none !important;
  padding: 10px !important;
  background: rgb(235, 230, 230) !important;
}

.searchButton {
  z-index: 1000;
  position: relative;
  float: left;
  height: 30px;
  width: 163px;
  background: rgb(235, 230, 230);
  border: 1px solid transparent;
  padding-left: 5px;
}

.searchButton-hover {
  background: white;
  color: rgb(49, 118, 241);
  border: 1px solid rgb(235, 230, 230);
  border-bottom: none;
  cursor: pointer;
}

.searchButtonText {
  position: relative;
  float: left;
  font-size: 11px;
  top: 6px;
  left: 18px;
}

.searchLense {
  position: relative;
  float: right;
  top: 10px;
  right: 10px;
}

.searchbox {
  display: none;
  position: absolute;
  z-index: 1;
  float: left;
  clear: both;
  left: 64%;
  border: 1px solid rgb(235, 230, 230);
  width: 124px;
  box-shadow: 0px 8px 10px -3px #888;
  top: 30px;
  padding: 35px;
  background: white;
}

.searchitem {
  position: relative;
  font-size: 13px;
  float: left;
  margin-bottom: 10px;
  clear: both;
}

.searchitem:hover {
  color: rgb(49, 118, 241);
  cursor: pointer;
}

.search {
  position: relative;
  float: right;
  left: 0%;
  margin-top: 20px;
}

.searchMore {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #464646;
  float: left;
  margin-top: 13px;

}

.searchMore-hover {
  border-top: 5px solid #5c9dff;
}

/*Search menu css ends*/

.alignRight {
  text-align: right;
}
.alignCenter
{
  text-align: center;
}
.alignLeft {
  text-align: left;
}
.marginBox {
  margin: 50px 0 20px 0;
}
.embedMargin {
  margin-bottom: 10px;
  margin-top: 10px;
}

.embedMarginTop50 {
  margin-top: 50px;
}


.embedPadding1 {
  padding-bottom: 20px;
}

.embedPadding2 {
  padding: 20px 0;
}

.embedPadding3 {
  padding: 0 10px;
}

.embedPadding4 {
  padding: 0 0 0 10px;
}


/** base css ends **/

/** icons start**/
.icn{
	display:inline-block;
	width:18px;
	height:18px;
	line-height:0;
	font-size:0;
}
.icn-dot{
	background:url(../images/bulletImg.png) no-repeat center;
	width:12px;
	height:12px;
}
.bullet{}
/** lists **/
ul.sqr-lst{
	list-style-type: square;
	color:#bbb;
	font-size:1.1em;
	font-weight:200
}
ul.sqr-lst > li >span{
	color:#333
}
/** **/
/** global menu navigation util starts **/
.gl{
		list-style:none;
		padding-left:0px;
		margin-top:10px;
		margin-bottom:10px;
		clear:both;
		width:inherit
	}
	
	.gm{
		display:inline-block;
		position:absolute;
		z-index:25;
		background: white;
		margin:0px;
		box-shadow :-2px 2px 5px #eeeeee;
		width:175px
	}
	.gm h1,.gm h2,.gm h3{
		color:#aaa;
		
		padding:15px 0px 0px 10px;
	}
	.gm hr{
		margin:0
	}
	.gm a{
		display:block;
		padding:5px 0px 5px 10px;
	}
	.gm li{
		
	}
	.gm .gl{
		margin:0px;
	}
	.gm-lnk{
		
	}
	.gm-mc{
		
	}
	.gm-mc a:hover{
		
	}
	.gm-mc-nm{		
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.gm-mc-nm:hover{
		
	}
	.gm-sc-cntnr{
		position : absolute;
		left:175px;
		min-height:300px;
		top:0px;
		padding-left:10px;
		background-color: white;
		box-shadow:3px -3px 7px #E0E0E0;
	}
	.gm-sc-cntnr a{
		padding-left:0px;
	}
	.gm-sc-list{		
		width:540px;
		padding:10px;		
	}
	.gm-sc-list > li{
		display:inline-block;
		width:150px;
		margin-right:40px
	}
	a.gm-sc-nm{
		font-size:1.1em;
		line-height:1em;
	}
	.gm-tc-nm{
		color:#444;
		font-size:1em;
		text-transform:capitalize
	}
	.gm-tc-list a{
		padding:2px 0px;
	} 
	.gm-tc-list a.seeMore{
		font-size:0.8em;
		color:#bbb;
		line-height:1.1em
	}
	.hide{display:none}

/** global menu navigation util ends**/



/** catalog css integration starts**/
.product {
  width: 210px;
  height: 420px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  float: left;
}
/*.product:hover{
    box-shadow: 0px 5px 20px #ccc;
    border: 2px solid #ccc;
}*/
.embedMargin {
  margin-bottom: 40px;
  margin-top: 10px;
}

.variantHeader {
  color: #535353;
}

.rating {
  cursor: pointer;
}

.priceAndVariant {
  border-bottom: 1px solid #dadada;
}

.embedMargin5 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.addToCompare {
  font-size: 13px;
  cursor: pointer;
  margin: 0;
  float: left;
  width: 100%;

}

.addToCompare input[type="checkbox"] {
  float: left;
}

.addToCompare p {
  float: left;
  margin: 2px 0 0 10px;
  color: #515151;
}

.lightcolor {
  color: #585858;
}

.strikethrough {
  text-decoration: line-through;
}
.successText {
  color: #005000;
  font-size: 18px;
}
.price {
    color: #000000;
    font-size: 14px;
    border-top: 1px solid #ccc;
    padding: 5px 0;
}

/*box css*/
.boxFacets {
  border: 2px solid #f6f6f6;
  float: left;
  width: 218px;
  color: #898989;
  font-size: 13px;
    margin-bottom: 40px;


}

.boxHead {
  height: 30px;
  padding: 10px 0 0 20px;
}

.boxHeader {
  height: 25px;
  text-align: right;
  border-top: 1px dashed #c8c8c8;
  border-bottom: 1px dashed #c8c8c8;
  vertical-align: middle;
  padding: 10px 20px 0 0;
}

.count {
  float: right;
}

.boxitems {
  box-shadow: 0px 5px 20px #ccc;
  padding: 10px;
    width:91%;
    float: left;
}





.three-banners{
    position: relative;
    float: left;
    width: auto;
}

.slot-one{
    position: relative;
    float: left;
    width: auto;
    margin-right: 10px;
}

.slot-two{
    position: relative;
    float: left;
    width: auto;
}

.slot-three{
    position: relative;
    float: left;
    width: auto;
}

#carousel {
    width:255px;
    height:290px;
    margin:0 auto;
    overflow:hidden;
}

#slides {
    overflow:hidden;
    /* fix ie overflow issue */
}

#next{
    display: none;
}

/* remove the list styles, width : item width * total items */
#slides ul {
    position:relative;
    left:0;
    top:0;
    list-style:none;
    margin:0;
    padding:0;
    width:750px;
}

/* width of the item, in this case I put 250x250x gif */
#slides li {
    position: relative;
    float:left;
    width: auto;
}

#slides li img {
}

/* Styling for prev and next buttons */
#buttons {
    padding:0 0 5px 0;
    float:right;
}

#buttons a {
    display:block;
    width:31px;
    height:32px;
    text-indent:-999em;
    float:left;
    outline:0;
}

a#prev {
    background:url(arrow.gif) 0 -31px no-repeat;
}

a#prev:hover {
    background:url(arrow.gif) 0 0 no-repeat;
}

a#next {
    background:url(arrow.gif) -32px -31px no-repeat;
}

a#next:hover {
    background:url(arrow.gif) -32px 0 no-repeat;
}

.clear {clear:both}

/** catalog css integration ends**/
>>>>>>> 0b9d0288a1c3d051f0af81aed6905432834f2f5d
