@charset "utf-8";
/* CSS Document */
/* Reset CSS Start */

    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/licensed/font?kit=cJZKeOuBrn4kERxqtaUH3eQMgGoy_nKaqo2cKJRLrBJdxlT5RfGIy95sQWGkHIXZT_wDREvo4O6_6v9ljamcpjDjNODm32iLRYw2SNTAhDi20L9efk2PUOdb5H1Th4EY) format('woff2'), url(http://themes.googleusercontent.com/licensed/font?kit=cJZKeOuBrn4kERxqtaUH3Rfzzo0OiUYJdfKM9TmUas1dxlT5RfGIy95sQWGkHIXZT_wDREvo4O6_6v9ljamcpjDjNODm32iLRYw2SNTAhDi20L9efk2PUOdb5H1Th4EY) format('woff');
    }

    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/licensed/font?kit=MTP_ySUJH_bn48VBG8sNSoQSOEeazGh8gh9HUNTvrRMFjxAsoMPe6KTmxHr8yBfIjVpFoe6rX3ET310906cqDO5a0y2yM-buDzIWb-IT1VZnJfANE-_pKN9C1ZsKTQQU) format('woff2'), url(http://themes.googleusercontent.com/licensed/font?kit=MTP_ySUJH_bn48VBG8sNSjBj4j7RKzZd-IY3pDfmla0FjxAsoMPe6KTmxHr8yBfIjVpFoe6rX3ET310906cqDO5a0y2yM-buDzIWb-IT1VZnJfANE-_pKN9C1ZsKTQQU) format('woff');
    }

    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/licensed/font?kit=k3k702ZOKiLJc3WVjuplzIQSOEeazGh8gh9HUNTvrRMFjxAsoMPe6KTmxHr8yBfIjVpFoe6rX3ET310906cqDO5a0y2yM-buDzIWb-IT1VZnJfANE-_pKN9C1ZsKTQQU) format('woff2'), url(http://themes.googleusercontent.com/licensed/font?kit=k3k702ZOKiLJc3WVjuplzDBj4j7RKzZd-IY3pDfmla0FjxAsoMPe6KTmxHr8yBfIjVpFoe6rX3ET310906cqDO5a0y2yM-buDzIWb-IT1VZnJfANE-_pKN9C1ZsKTQQU) format('woff');
    }


img, a, img a, img a:hover, a:hover {border:none;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}


ol,ul {
	list-style:none;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
	line-height:normal;
}

.cl {
	clear:both;}

.flot-l {
	float:left;
	
}


.textDown 
{ 
	padding-top:36px; 
}

.flot-r 
{
	float:right;
}
	
/* Reset CSS close */

body 
{
	font-family:'Open Sans', sans-serif;
	font-size:15px;
	color:#000000;
	line-height:24px;
}
	
.wrapper 
{
	width:960px;
	margin:0 auto;
	height:auto;
}

.fbContainer1
{
	width:100%;
	height:490px;
	background-color:#afd46e;
	display:block;
}

.fbContainerInside
{
	width:814px;
	padding:50px 73px;
	height:auto;
}

.fbContainerInside1
{
	width:435px;
	float:left;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	text-align:left;
	height:auto;
	color:#000000;
	
}

.heading-text
{
    margin-bottom: 24px;
    font-size: 85px;
    font-weight: bold;
    line-height: 1em;
    border-bottom: 5px solid #000;
    padding-bottom: 15px;

}

.heading-text2
{
	font-weignt:normal;
	font-size:82px;
    border-bottom: 2px solid #000;
}

.mhUl {
	list-style:none;
	margin: 20px 0;
	text-align:left;
	
}

.fbUl li{
	padding:5px 0 5px 27px;
	background:url(images/fatIcon.png) no-repeat left 10px;
	vertical-align:text-top;
}


.fbUl li a{
	text-decoration: none;
	color: #000000;
}
.fbUl li a:hover {
	font-weight:bold;
}

.fbContainerInside2
{
	width:379px;
	float:left;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	text-align:left;
	height:auto;
}

.fbContainer2
{
	width:100%;
	height:10px;
	background:#00a651;
	display:block;
}

.fbContainer3
{
	width:100%;
	height:500px;
	background-color:#ffffff;
	display:block;
}

.pHeading
{
	font-size:48px;
	color:#00a651;
	font-weight:normal;
}

.fbContainer4
{
	width:100%;
	background-color:#e4e5e6;
	display:block;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	text-align:left;
	color:#000000;
    overflow: hidden;
    /*margin-top: 50px;*/
    padding-bottom: 30px;
}

.outerBorder
{
	background-image:url(images/outerBorder.png);
	height:346px;
	width:377px;
    margin-left: 30px;
    margin-top: 22px;
}

.fbContainer5
{
	width:100%;
	height:auto;
	background-color:#ffffff;
	display:block;
	float:left;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	text-align:left;
	line-height:normal;
	color:#000000;
}

.solution
{
margin-top: 30px;
width: 251px;
float: left;
}

.fbContainer6
{
	width:100%;
	height:auto;
	background-color:#e4e5e6;
	display:block;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	text-align:left;
	color:#000000;
}

.textLight
{
	font-size:18px;
	color:#00a651;
	
}

.sideEffects {
    width: 100%;
    border: 4px solid #5e5e5e;
    padding: 10px;
}

.varnt-cont {
    margin-right: 40px;
}

.prodDec
{
    margin-top: 30px;
    width: 180px;
    float: left;
    margin-left: 30px;
    font-style: italic;
}

.mrgn-l-75
{
    margin-left: 75px;
}