@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('../../Fonts/gosf/opensans-condbold-webfont.eot');
    src: url('../../Fonts/gosf/opensans-condbold-webfont.eot') format('embedded-opentype'),
         url('../../Fonts/gosf/opensans-condbold-webfont.woff') format('woff'),
         url('../../Fonts/gosf/opensans-condbold-webfont.ttf') format('truetype'),
         url('opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('../../Fonts/gosf/opensans-condlight-webfont.eot');
    src: url('../../Fonts/gosf/opensans-condlight-webfont.eot') format('embedded-opentype'),
         url('../../Fonts/gosf/opensans-condlight-webfont.woff') format('woff'),
         url('../../Fonts/gosf/opensans-condlight-webfont.ttf') format('truetype'),
         url('opensans-condlight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Reset CSS Start */

img, a, img a, img a:hover, a:hover {border:none;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}


ol,ul {
	list-style:none;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

.cl {
	clear:both;}

.flot-l {
	float:left;}

.flot-r {
	float:right;}
	
a {color:#000;
	text-decoration:none;
    margin: 0;
    padding: 0;
	}

a:hover {
	color:#285ca9;
	}
	

/* Reset CSS close */

.margin-b15 {
    margin-bottom:15px;}


.margin-l15 {
    margin-left:15px;}

.margin-t15 {
    margin-top:15px;}


.box1 img {
    box-shadow:2px 2px 0 #E5EAED;
    -webkit-transition: box-shadow 0.3s ease-in-out 0s;
    -moz-transition: box-shadow 0.3s ease-in-out 0s;
    -o-transition: box-shadow 0.3s ease-in-out 0s;
    transition: box-shadow 0.3s ease-in-out 0s;
}

.box1 {
 padding-bottom: 15px;
}

.box1 img:hover,
.box1 img.glow {
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
}

.box472 {
    width: 472px;
    float: left;
}

.box310 {
    float: left;
    width: 310px;
}


#footer {
    background-color: #fff;
    margin: 14px 0 0 0;
    -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.3);
}

#footer .container {
    padding: 20px 0;
}

.hdr-drop-cntnr, .cart-pop-container {
    background: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: #FFF url(../../images/gosf/bg-gosf.jpg) repeat;
	}

.gosfH1 {
    background:url(../../images/gosf/yellow-dot.png) no-repeat 0 6px;
    padding-left:18px;
    font-size:22px;
    font-family: 'open_sans_condensedbold';
    text-transform:uppercase;
    display: block;
    margin: 10px 0 20px 0;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #e6e6e6;
}


.gosfH2 {
    background:url(../../images/gosf/yellow-dot.png) no-repeat 0 6px;
    padding-left:18px;
    font-size:22px;
    font-family: 'open_sans_condensedbold';
    text-transform:uppercase;
    display: block;
    margin-top: 20px;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #e6e6e6;
}

h2.gosfh2 {
	font-weight:700;
	font-size:24px;
	color:#4a93cf;
	text-transform:uppercase;}
	
.mt-10 {
	margin-top:10px;}

#msMainCont  {
    -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.3);
    background:#fff;
    padding-top: 15px;
    padding-bottom: 15px;

}

#header {
	width:100%;
	height:45px;
	margin:20px 0;
	-webkit-box-shadow: 0px 2px 4px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 2px 4px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 2px 4px rgba(50, 50, 50, 0.4);
	background:#fff;
	
	}


/* If we do not want to use Sign in than margin-top:-54px */

.cart-mt {
    margin-top: -12px;
}
	

.wrapper {
	width:960px;
	margin:0 auto;
	}

.gosfBanner {
    -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.3);
    background:#fff;
    margin-bottom: 20px;
}

.logo {
	float:left;
}
	
.gosf-logo{
	float:left;
	margin-right:20px;
	padding:0;
    position:relative;
    z-index:10;
    margin-top: -20px;
}
	
.logo img{
	padding-top:8px;
	float:left;
	display:block;
	vertical-align:top;}
	
ul.navG {
	float:left;
	display:block;
	width:550px;
	margin-left:50px;
	padding-top:12px;
	}


ul.navG > li{
	float:left;
	display:block;

    font-family: 'open_sans_condensedbold';

	text-transform:uppercase;
	margin-right:20px;
	font-size:16px;
	padding-bottom:5px;
    border-bottom: 4px solid #fff;
	}

ul.navG > li:hover{
    border-bottom: 4px solid #217abe;
}

ul.navG > li:last-child{
	margin-right:0px;
	}


ul.navG > li:hover .tabG{
	display:block;
	margin-top:9px;
}
ul.navG > li:hover .tabG.tab-nutrition{
	margin-left:-262px;
}

ul.navG > li:hover .tabG.tab-sports{
    margin-left:-353px;
}

ul.navG > li:hover .tabG.tab-health{
    margin-left:-487px;
}

.tabG {
	width:880px;
	font-family: 'open_sanscondensed_light';
	font-weight:normal;
	position:absolute;
	display:none;
	height:auto;
	background:#fff;
	z-index: 5;
	padding:20px 0 20px 80px;
	overflow:hidden;
	-webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.3);
	}

.tabG a{
    padding: 0;
    line-height: normal;
}

.staff-pic{
	background:url(../../images/gosf/yellow-dot.png) no-repeat 0 5px;
	padding-left:18px;
	font-size:18px;
	text-transform:uppercase;
	margin-bottom:15px;
	display:block;
    margin-left: 8px;
    font-family: 'open_sans_condensedbold';
	}


ul.staff {
	width:810px;
	height:100px;
	display:block;
	padding-bottom:20px;
	border-bottom:1px solid #CCC;}


ul.staff li{
	float:left;
	height:100px;
	width:130px;
	display:block;
	font-size:16px;
	border-left:1px solid #CCC;
	padding:0 10px;
	}

ul.staff li:first-child{
	border:0;
	}
ul.staff a{
    padding: 5px;
    text-align: center;
    display:block;

}

ul.staff a:hover{
    background-color: #ebebeb;
}

ul.staff a span{
    font-size:13px;
    color:#999;
}

ul.staff li>img{
	clear:both;
	display:block;
	padding-bottom:5px;
	}

ul.staff li>span{
	font-size:13px;
	color:#999;
	}


.nav-gosf {
	font-family: 'open_sanscondensed_light';
	font-size:16px;
	float:left;
	margin-top:20px;
    padding-right:30px;
	}
	
.nav-gosf>span  {
	background:url(../../images/gosf/yellow-dot.png) no-repeat 0 8px;
	padding-left:18px;
	font-size:18px;
	text-transform:uppercase;
	display:block;
    margin-left: 8px;
    font-family: 'open_sans_condensedbold';
	}

ul.menu {
	float:left;

	}


ul.menu li{
	height:25px;
    padding: 5px 10px 0 10px;
    display: block;
	}


ul.menu li:hover{
	background-color:#e6e6e6;

	}



.gosfCombo img{
     float: left;
    margin-right: 10px;
    margin-top: 10px;
    box-shadow:2px 2px 0 #E5EAED;
    -webkit-transition: box-shadow 0.3s ease-in-out 0s;
    -moz-transition: box-shadow 0.3s ease-in-out 0s;
    -o-transition: box-shadow 0.3s ease-in-out 0s;
    transition: box-shadow 0.3s ease-in-out 0s;
}




.gosfCombo img:hover,
.gosfCombo img.glow {
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
}


.gosfExclu img{
    float: left;
    margin-right: 20px;
    margin-bottom: 80px;
    box-shadow:2px 2px 0 #E5EAED;
    -webkit-transition: box-shadow 0.3s ease-in-out 0s;
    -moz-transition: box-shadow 0.3s ease-in-out 0s;
    -o-transition: box-shadow 0.3s ease-in-out 0s;
    transition: box-shadow 0.3s ease-in-out 0s;
}




.gosfExclu img:hover,
.gosfExclu img.glow {
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
}





.cateRecBox {
    margin-bottom:20px;
    width:100%;
    background-color:#fff;
    height:auto;
    padding:20px 0;
    overflow:hidden;
    display:block;
    -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.3);
}

.cateRec {
    width:130px;
    padding-right:30px;
    float:left;
}

.cateName {
    font-size:20px;
    font-family: 'open_sanscondensed_light';
    padding-bottom:10px;
}

.cateName>span{
    font-size:16px;
}


.recoDesig {
    padding:10px 0;
    font-size:13px;
    font-family: 'open_sans_condensedbold';
    border-top:1px solid #999;
}


.recoPic {
    float:left;
    padding:30px;
    width:120px;
    border-left:1px solid #999;
    border-right:1px solid #999;
}

.recoTxt {
    float:left;
    width:580px;
    padding-left:30px;}


.recoTxt span{
    font-size:20px;
    font-family: 'open_sanscondensed_light';
    display:block;
    margin-bottom:10px;
}

.recoTxt p{
    font-size:13px;
    font-family: 'open_sans_condensedbold';
    display:block;
    margin-top:5px;
}


.gosfOff {
    font-size: 14px;
    color: #ea1300;
    font-weight: 600;
}




/* footer CSS start */


#footer {
    background-color: #fff;
    margin: 20px 0 0 0;
    -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.3);
}

#footer .container {
    padding: 20px 0;
}

#footer .ftr-main-txt{
    padding-bottom: 10px;

}

.about-hk {
    line-height: normal;
    padding: 10px 0;
}

/* footer CSS close */





.gosfCoupon {
    padding: 10px 0;
    width: 300px;
    height: auto;
    border: 1px solid #ccc;
    float: left;
    text-align: center;
    margin-left: 15px;
    margin-top: 15px;
}

.gosfCoupon p{
    margin-bottom: 10px;

}

.gosfCoupon b{
    font-weight: 600;

}

.gosfCoupon b a{
    font-weight: 600;

}

.gosfCode{
    width: 250px;
    margin: 0 auto;
    border: 1px dashed #ccc;
    padding: 5px 0;
}

.gosfCode span{
    font-weight: 600;
    color:#285ca9;
}

.gosfValid {
    width: 100%;
    margin-top: 30px;
}



