@charset "utf-8";
/* CSS Document */
/* Reset CSS Start */

    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/licensed/font?kit=cJZKeOuBrn4kERxqtaUH3eQMgGoy_nKaqo2cKJRLrBJdxlT5RfGIy95sQWGkHIXZT_wDREvo4O6_6v9ljamcpjDjNODm32iLRYw2SNTAhDi20L9efk2PUOdb5H1Th4EY) format('woff2'), url(http://themes.googleusercontent.com/licensed/font?kit=cJZKeOuBrn4kERxqtaUH3Rfzzo0OiUYJdfKM9TmUas1dxlT5RfGIy95sQWGkHIXZT_wDREvo4O6_6v9ljamcpjDjNODm32iLRYw2SNTAhDi20L9efk2PUOdb5H1Th4EY) format('woff');
    }

    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/licensed/font?kit=MTP_ySUJH_bn48VBG8sNSoQSOEeazGh8gh9HUNTvrRMFjxAsoMPe6KTmxHr8yBfIjVpFoe6rX3ET310906cqDO5a0y2yM-buDzIWb-IT1VZnJfANE-_pKN9C1ZsKTQQU) format('woff2'), url(http://themes.googleusercontent.com/licensed/font?kit=MTP_ySUJH_bn48VBG8sNSjBj4j7RKzZd-IY3pDfmla0FjxAsoMPe6KTmxHr8yBfIjVpFoe6rX3ET310906cqDO5a0y2yM-buDzIWb-IT1VZnJfANE-_pKN9C1ZsKTQQU) format('woff');
    }

    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/licensed/font?kit=k3k702ZOKiLJc3WVjuplzIQSOEeazGh8gh9HUNTvrRMFjxAsoMPe6KTmxHr8yBfIjVpFoe6rX3ET310906cqDO5a0y2yM-buDzIWb-IT1VZnJfANE-_pKN9C1ZsKTQQU) format('woff2'), url(http://themes.googleusercontent.com/licensed/font?kit=k3k702ZOKiLJc3WVjuplzDBj4j7RKzZd-IY3pDfmla0FjxAsoMPe6KTmxHr8yBfIjVpFoe6rX3ET310906cqDO5a0y2yM-buDzIWb-IT1VZnJfANE-_pKN9C1ZsKTQQU) format('woff');
    }


img, a, img a, img a:hover, a:hover {border:none;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}


ol,ul {
	list-style:none;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

h2 {
    font-size: 24px;
}

.cl {
	clear:both;}

.flot-l {
	float:left;
	
}
.mhImgContainer
{
	width:280px;
}
.textDown { padding-top:36px; }

.textContainer 
{ 
	background-color:#d1f0fc;
	color:#000;
	font-size:13px;
	text-align:left;
	padding:5px 10px;
	margin-bottom:20px;
	width:316px;
	
}

.flot-r {
	float:right;}
	
/* Reset CSS close */

body 
{
	font-family:'Open Sans', sans-serif;
	font-size:15px;
}
	
.wrapper 
{
	width:960px;
	margin:0 auto;
	height:auto;
	padding-top:50px;
}
	
	
.mhContainer1
{
	width:100%;
	height:580px;
	background-color:#67cdf5;
	display:block;
}
.mhContainerInside
{
	width:770px;
	padding:50px 95px 0px 95px;
	height:auto;
}
.mhContainerInside1
{
	width:336px;
	float:left;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
}
.mhContainerInside2
{
	width:434px;
	float:left;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	text-align:left;
	
}
.heading-text
{
	font-size:44px;
	line-height:55px;
	font-weight:600;
}
.mhUl {
	list-style:none;
	
	margin: 20px 0;
	text-align:left;
}

.mhUl li{
	padding:5px 0 5px 27px;
	background:url(images/capIcon.png) no-repeat left;
	
	}


.mhUl li a{
	text-decoration: none;
	color: #ffffff;
}
.mhUl li a:hover {
	font-weight:bold;
}
.mhContainer2
{
	width:100%;
	height:560px;
	background-color:#0086ab;
	display:block;
	color:#FFF;
}

.img-left
{
	width:160px;
	float:left;
	padding-right:15px;
	font-family:'Open Sans', sans-serif;
	color:#FFF;
	padding-bottom:20px;
	line-height:30px;
	font-size:14px;
	
}
.img-right
{
	width:160px;
	float:left;
	color:#FFF;
	font-family:'Open Sans', sans-serif;
	padding-bottom:20px;
	line-height:30px;
	font-size:14px;
}

.mhContainer3
{
	width:100%;
	height:1000px;
	background-color:#67CDF5;
	display:block;
	color:#000001;
	font-family:'Open Sans', sans-serif;
	font-size:15px;
	text-align:center;
}
.bgImgP
{
	background:url(images/plate.png) no-repeat left;
	width:100%;
	height:480px;
	font-size:14px;
	line-height:21px;
	padding-top:100px;
}

.mhContainer4
{
	width:100%;
	height:560px;
	background-color:#0086AB;
	display:block;
	color:#FFF;
	text-align:center;
	font-family:'Open Sans', sans-serif;
	font-size:15px;
}
.paddingLeftText
{
	padding-left:40px;
}
.mhContainer5
{
	width:100%;
	height:1650px;
	background-color:#67CDF5;
	display:block;
	color:#000001;
	font-family:'Open Sans', sans-serif;
	font-size:15px;
	text-align:center;
}
.bgImgM
{
	background:url(images/man.png) no-repeat left top;
	width:100%;
	height:1420px;
	font-size:15px;
	line-height:21px;
	
}
.manTextPadding
{
	padding-left:99px;
}

.mhContainer6
{
	width:100%;
	height:615px;
	background-color:#0086AB;
	display:block;
	color:#FFF;
	font-family:'Open Sans', sans-serif;
	font-size:15px;
	text-align:center;
}

.mhUlw {
list-style-position: inside;
line-height: 25px;
text-align:left;
list-style-image:url(images/capIconWhite.png);
}

.mhUlw li{
	padding:10px 0 10px 0px;
	
	
	}
.paddingTLText
{
	padding:100px 40px;
}
.mhContainer7
{
	width:100%;
	height:auto;
	background-color:#67cdf5;
	display:block;
	color:#000001;
	font-family:'Open Sans', sans-serif;
	font-size:15px;
	text-align:center;
}
.mhBimg
{
	padding-bottom:50px;
	float:left;
	text-align:left;
}
.mhBtext
{
	padding:0 0 30px 10px;
	float:left;
	text-align:left;
	width:248px;
}

.mrgn-inside2 {
	margin-left:80px;}
.mhContainer8
{
	width:100%;
	height:620px;
	text-align:center;
	background-color:#0086AB;
	display:block;
	color:#FFF;
	font-family:'Open Sans', sans-serif;
	font-size:15px;
	text-align:center;
}


.lastLink a, .lastLink a:hover {
    color: #fff;
    text-decoration: none;
}