@charset "utf-8";
/* CSS Document */

/* Reset CSS Start */

img, a, img a, img a:hover, a:hover {border:none;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}


ol,ul {
    list-style:none;
}

h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}

.cl {
    clear:both;}

.float-l {
    float:left;}

.float-r {
    float:right;}




/* Reset CSS close */


.mrgn-t-15 {
    margin-top:15px;
}

.mrgn-b-15 {
    margin-bottom:15px;
}

.mrgn-l-14 {
    margin-left: 14px;
}

.mrgn-r-13 {
    margin-right: 13px;
}

