@charset "utf-8";
/* CSS Document */

.clearfix:before, .clearfix:after, {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; 
}
   
.clearfix:after, .clear { clear: both; }
    
.clearfix { zoom: 1; }

.clearfix:before, .clearfix:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; 
}
	  
.clearfix:after {
	clear: both; 
}
    
.clearfix {
	zoom: 1; 
}

.leftFloat { float: left; }
	  
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin:0px;
	padding:0px;
}

a {
	text-decoration:none;
}

img {
	border:none;
}

.row {
	width:100%;
}

.wrapper {
	border-left: 12px solid #00833E;
    border-right: 12px solid #00833E;
    margin: 0 auto;
    padding-top: 10px;
    width: 936px;
}

.header {
	width:96%;
	padding: 10px 20px;
}

.logo {
	float:left;
}

.buyNow {
	float:left;
	margin-left:120px;
}

.headerRite, .socialIcons {
	float:right;
}

.topNav {
	list-style:none;
	padding-left: 3px;
}
.topNav li {
	display:inline-block;
	background-color:#00833e;
	background-image:url(../images/nav.png);
	background-repeat:no-repeat;
	margin-left: -3px;
    padding: 9px 7px 10px 47px;
	font-size:18px;
	font-weight:bold;
}
.topNav li a {
	color:#fff;
}
.navHome {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    margin-bottom: 0;
    padding: 0 !important;
	float:left;
}
.navFirst {
	background-image: none !important;
}
.navLast {
	padding-right: 23px !important;
}


/* Footer */
.box {
	border-right: 3px solid #00833E;
    color: #6D6E71;
    float: left;
    font-size: 11px;
    font-weight: 600;
    height: 140px;
    margin-bottom: 15px;
    padding: 0 25px;
    width: 180px;
}
.lastBox {
	border:none !important;
}
.heading {
	color: #00833E;
    font-size: 14px;
    font-weight: bold;
}
.imgBox {
	margin-right:9px;
}

.footer {
    padding-top: 200px;
}

.demo {
  margin:1.5em 0;
  padding:1.5em 0 0.75em;
  position:relative;
  overflow:hidden;
  width: 70%;
  float: left;
}
.collapse { background-color:#f1f2f2; }
.collapse p {
	background-color: #F1F2F2;
    margin-top: 0;
    padding: 15px;
    font-size: 14px;
}

.switch {position:absolute; top:1.5em; right: 1.5em; padding:3px}

.post .switch {position:static; text-align:right}

.post .main{margin-bottom:.3em; padding-bottom:0}

.other li, .summary {margin-bottom:.3em; padding:1em; border:1px solid #e8e7e8; background-color:#f8f7f8}

.other ul {list-style-type:none; text-align:center}

.expand {
	background-color: #00833E;
    margin: 5px 0 0;
    padding: 0;
}
.expand a {
  	display:block;
  	padding:3px 10px;
  	color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
}
.expand a:link, .expand a:visited {
  border-width:1px;
  background-image:url("../images/expand.png");
  background-repeat:no-repeat;
  background-position:100% 50%;
  line-height: 1.45em;
}
.expand a:hover, .expand a:active, .expand a:focus {
}
.expand a.open:link, .expand a.open:visited {
  	background: url("../images/collapse.png") no-repeat scroll 100% 50% rgba(0, 0, 0, 0);
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.45em;
}

.tabList {
	list-style:circle;
}
.tabList li, .tabtxt {
	color:#00833e;
	line-height:1.6em;
	font-size:14px;
	background-color:#fff !important;
}

.tabNote {
	color:#00833e;
	font-size:14px;
	font-weight:bold;
	background-color:#f1f2f2;
	padding:5px;
}
.headText {
	background-color: #F1F2F2;
    border-left: 5px solid #00833E;
    border-right: 5px solid #00833E;
    color: #00833E;
    font-size: 14px;
    font-weight: bold;
    line-height: 2.5em;
    padding: 0 15px;
	float:left;
    margin-left: 15px;
}
.greyColor { color: #6d6e71; }
.greenColor { color: #00833E; font-weight: bold; }
.txtColor {
	color:#00833E;
}
.dossageTabTxt {
	color: #6d6e71;
    font-size: 14px;
    font-weight: bold;
}

.bgNone { background:none !important; }
.textHighlight {
	color:#00833E;
	font-weight:bold;
}

.rightSection {
    border: 2px dashed #00833E;
    float: right;
    height: 250px;
    margin-right: -2px;
    margin-top: 20px;
    padding: 12px;
    width: 25%;
}

.calenderBox, .callBox {
    border-bottom: 2px solid #00833E;
}

.calenderBox, .callBox, .mailBox {
    float: left;
    padding: 10px 0;
    width: 100%;
}

.calenderText {
    color: #6D6E71;
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
}
.calImg {
    float: left;
    margin-right: 10px;
}
.contactNumber {
    font-size: 16px;
    color: #00833e;
    font-weight: bold;
}
.fontSize_16 { font-size: 16px; }

















