@charset "utf-8";
/* CSS Document */


/* Reset CSS Start */

img, a, img a, img a:hover, a:hover {border:none;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}


ol,ul {
    list-style:none;
}

h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}

.cl {
    clear:both;}

.flot-l {
    float:left;}

.flot-r {
    float:right;}

/* Reset CSS close */

#bgMainCont {
    width:960px;
    margin:0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size:15px;}

.wrapper {
    width:960px;
    margin:0 auto;
    height:auto;
    padding-top:50px;
    text-align:center;
}

.header-images
{
    width:760px;
    padding-left:135px;
}

.image-left
{
    width:330px;
    float:left;

}

.image-right
{
    width:410px;
    float:left;
    padding-left:19px;
    text-align:left;

}

.bmContainer {
    width:760px;
    padding-left:135px;
    height:auto;
    display:block;
    padding-top:40px;
}

.bmUl {
    list-style-position: inside;
    list-style-image: url(../images/icon.png);
    line-height:40px;
    margin:20px 0;
}

.bmUl li a{
    text-decoration:none;
    color:#000001;
}

.bmUl li a:hover{
    font-weight:bold;
    text-decoration:none;
    color:#000001;
}

.bmHeading {
    font-size:24px;
    height:30px;
    padding-top:20px;
    padding-bottom:40px;
    line-height:1.2em;
}

.p-text{
    line-height:30px;
}

.icon-left{
    float:left;
    width:70px;
}

.icon-right
{float:right;
    width:70px;
}

.iconP {
    float:left;
    width:690px;
    padding-top:15px;
}

.bmContainerMiddle
{
    width:100%;
    height:auto;
    display:block;
}

.hen-image
{
    float:left;
    width:465px;
    padding-right:20px;
}

.hen-text
{
    float:left;
    padding-top:30px;
    line-height:30px;
    text-align:left;
}

.gfu-left
{
    width:515px;
    padding-right:20px;
    float:left;
    text-align:left;
}

.gfu-right
{
    width:225px;

    float:left;
}

