@charset "utf-8";
/* CSS Document */

/* Reset CSS Start */

img, a, img a, img a:hover, a:hover {border:none;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}


ol,ul {
    list-style:none;
}

h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}

.cl {
    clear:both;}

.flot-l {
    float:left;}

.flot-r {
    float:right;}




/* Reset CSS close */


body{
	background:url(images/bg-red.jpg) no-repeat center top #FEECEC;
	font-family:Tahoma, Geneva, sans-serif;
}


.wrapper {
	margin:0 auto;
	width:960px;
	}

.dHeader {
	height:auto;
	}

.dLogo {
	float:left;
	}


.hdr-drop-cntnr, .cart-pop-container {
    border-radius: 6px;

}

#ProductInfoBlock {
    border-radius:0;

}


ul.dMenu {
	float:right;
	display:inline;
	margin-top:-53px;
    font-size: 16px;
	}

ul.dMenu li{
	display:inline;	
	margin-left:10px;
	}

ul.dMenu li a{
	text-decoration:none;
	padding:10px 15px;
	color:#FFF;
	display:inline;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	border-radius: 6px 6px 6px 6px;
	}
	

ul.dMenu li a:hover{
	background:rgb(41,173,223);
	}
	
.dSocial {
	vertical-align: middle;
	margin-bottom: 7px;}

.dContent {
	border-radius: 20px 20px 0 0;
	width:960px;
	background-color:#ffffff;
	padding:30px 0;
	overflow:hidden;
	}



.animated{
	height: 300px; 
	width: 215px;
	float:left;
	margin:10px 0 10px 20px;
}

.btn-fom {
	margin:265px 0 0 140px;}


.dfooter {
	background: none repeat scroll 0 0 #E6E6E6;
	padding:30px 0;
	text-align:center;
    font-size: 14px;
    word-spacing: normal;
	color:#333;}

.dfooter a{
	color:#333;
	text-decoration:underline;

	}

.dfooter a:hover{
	color:#09F;
    text-decoration:underline;
	}


.container {
    border-radius: 20px 20px 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
}







