/* Reset CSS Start */

img, a, img a, img a:hover, a:hover {border:none;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}


ol,ul {
    list-style:none;
}

h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}

.cl {
    clear:both;}

.flot-l {
    float:left;}

.flot-r {
    float:right;}




/* Reset CSS close */


.wrapper{
    width: auto;}


.topBanner{
    margin-bottom: 30px;
}

.about-hk{
    padding: 10px;
    line-height: 1.7em;
}

.logoHK {
    margin-top: 25px;
}

.varnt-cont {
    float: left;
    margin-bottom: 20px;
    display: block;
    height: 220px !important;
    border-bottom: 1px solid #c1c1c1;
    width: 940px !important;

}
.varnt-cont .oos-cntnr.sz180{
    margin-left: 136px !important;
    margin-top: 80px !important ;
}

.img-box {
    float: left;
    width: auto !important;
}

.productContant {
    float: left;
    width: 620px;
}


.varnt-cont .varnt-detail .final-price {
    width: 100% !important;
}


.prodRank {
    padding: 80px 80px 0 0;
    float: left;
    font-size: 24px;
    font-weight: bold;
}

.varnt-cont .varnt-detail .final-price {
    border: none !important;
}

.topDiscount {
    font-weight: bold;
    color: red;
}









